/* ========== Estilos base ========== */
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* ========== Cabecera ========== */
.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.main-title {
  font-size: 60px;
  font-weight: bold;
  color: #6e7687;
  font-family: 'Arial Rounded MT Bold', 'Segoe UI', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.description-section {
  max-width: 400px;
  margin: 10px auto 30px auto;
  text-align: center;
}

.description {
  font-size: 16px;
  color: #555;
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
  margin-bottom: 6px;
}

.translated {
  font-size: 16px;
  color: #555;
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
  margin-bottom: 6px;
}

.tutorial {
  width: 220px;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* ========== Tablero del juego ========== */
.grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #bfc3cc;
  padding: 10px;
  width: max-content;
  margin: auto;
}

.row {
  display: flex;
  gap: 10px;
}

.tile {
  width: 80px;
  height: 80px;
  background-color: #edeff1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  border-radius: 15px;
}

/* Colores según valor */
.tile[data-value="2"]     { color: #000000; }
.tile[data-value="4"]     { color: #353330; }
.tile[data-value="8"]     { color: #705f45; }
.tile[data-value="16"]    { color: #97814a; }
.tile[data-value="32"]    { color: #a59344; }
.tile[data-value="64"]    { color: #b9ac33; }
.tile[data-value="128"]   { color: #d1c132; }
.tile[data-value="256"]   { color: #dbcb34; }
.tile[data-value="512"]   { color: #f1dd27; }
.tile[data-value="1024"]  { color: #e7d510; }
.tile[data-value="2048"]  { color: #ffa600; }


/* ========== Contenedor de puntuación y botón de reinicio ========== */
.score-container {
  background-color: #a0a7b4;
  width: max-content;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  color: #fff;
}

#restart-btn {
  background-color: #ffffff;
  color: #333;
  border: none;
  padding: 6px 12px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#back-btn {
  background-color: #ffffff;
  color: #333;
  border: none;
  padding: 6px 12px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

