.grid-container 
{
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #a0a7b4;
	padding: 10px;
	width: max-content;
	margin: auto;
}

.row 
{
	display: flex;
	gap: 10px;
}

.tile 
{
	width: 80px;
	height: 80px;
	background-color: #edeff1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	border-radius: 5px;
}
